.mainsec1{
    width: 100%;
    height: 200px;
    background:url(../Images/1.webp);
    margin-bottom: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 5px 5px 20px rgb(238, 224, 224);
}


.mainsec1 h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 70px; 
    padding-top: 10px;
    background:url(../Images/80qW.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 20px;

}

.manubar{
    width: 575px;
    height: 45px;
    background:url(../Images/images\ \(1\).jpg);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -35px;
    margin-left: 185px;
    border-radius: 20px;
}
.manubar nav {}
.manubar nav ul{}
.manubar nav ul li{
    display: inline;
    text-align: center;
    padding-left: 40px;
    font-size: 36px;
    font-weight: 700;
}

.manubar nav ul li a{
    color: aliceblue; 
    text-decoration: none; 
}

.mainsec2{
    width: 100%;
    height: 250px;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    animation: sec2 infinite 10s;
    box-shadow: 5px 5px 20px rgb(240, 240, 240);
}

.mainsec2 img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 375px;
    
}

.mainsec2 img:hover{
    transform: rotate(340deg);
    transition: 2s;
}

@keyframes sec2{
    0% {
        background: url(../Images/1.jpg);
        background-size: 100% 100%;
    }

    10% {
        background: url(../Images/2.jpg);
        background-size: 100% 100%;
    }

    20% {
        background: url(../Images/3.jpg);
        background-size: 100% 100%;
    }

    30% {
        background: url(../Images/4.jpg);
        background-size: 100% 100%;
    }

    40% {
        background: url(../Images/5.jpg);
        background-size: 100% 100%;
    }

   60% {
        background: url(../Images/6.jpg);
        background-size: 100% 100%;
    }

    80% {
        background: url(../Images/4.jpg);
        background-size: 100% 100%;
    }
    100% {
        background: url(../Images/6.jpg);
        background-size: 100% 100%;
    }

    }

.mainsec3{
    width: 100%;
    height: 250px;
    background: #f0e6e6;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
   
}


h2{
	text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 10px;
    background:url(../Images/fire.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 20px;
}
table{
	border-collapse:collapse;
	width:100%;

    
}
tbody{}
tr{
    
}
th{
	padding:8px;
	font-size:22px;
	background:#99ada8;
    
}
td{
	font-size:20px;
	text-align:center;
	padding:8px;
}
table,tbody,tr,th,td{
	border:1px solid rgba(0, 0, 0, 0.322);
    border-radius: 2px;
    
	
}
td:hover{
	background:#6c8c96;
}


.mainsec4{
    width: 100%;
    background: url(../Images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    display: inline-flex;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 20px black;
}


.card{
	width: 220px;
    background: linear-gradient(white,#f9f9f9,#d4ffc0cc,#f3f0e16b);
    border-radius: 10px;
    box-shadow: 2px 3px 14px #384631cc;
	margin-left:22px;
}

.card:hover{
	box-shadow: 2px 3px 14px black;
	width: 222px;
    transform: rotate(20deg);
    transition: 1s;

}

 
 .card img{
	 width:100%;
	 height:150px;
	 border-radius:10px;
 }
 .card h1{
	 padding:10px;
	 font-size:20px;
	 color:purple;
	 text-align:center;
	 
 }
 .card p{
	 padding:10px;
	 text-align:justify;
 }
 .card button{
	width: 114px;
    background: #20cb0b70;
    color: black;
    margin-left: 53px;
    padding: 6px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 1px 1px 8px black;
    margin-bottom: 1px;
 }
 
 .card button:hover{
	 box-shadow: 2px 2px 10px black;
 }

.mainsec5{
    width: 100%;
    background: linear-gradient(to left, #73eb2991,#c68fe3c4,#9d5f9d45, #5f9d8e45, #67c7c2a8,#60541461);
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
}

.contactform{
    background: linear-gradient(white,#82d1ca75,#d4ffc0cc,#e9e1ba7a);
    border-radius: 10px;
}

.contactinfo{
    width: 293px;
    margin-left: 315px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #0000001c;
    background: #f1f8ff08;
    box-shadow: 2px 2px 10px black;
}

}
.contactinfo:hover{
    box-shadow: 3px 3px 15px black;
}

.contactinfo input{
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #0000007a;
    background: #d1e1c952;
    margin-left: -9px;
    
}

.contactinfo input:hover{
    padding: 9px;
    box-shadow: 1px 1px 5px black;

}

.contactinfo input::placeholder{
    color:black;
    text-align:center;
    
}

.contactinfo button{
   width: 110px;
   font-size: 21px;
   padding: 6px;
   border-radius: 15px;
   margin-left: 100px;
   background: #58d91559;
   border: none;
   box-shadow: 2px 2px 7px black;
}


.contactinfo button:hover{
   
   box-shadow: 2px 2px 10px black;
   padding: 7px;
}

.contactform h2{
   text-align: center;
   font-size: 25px;
   color: purple;
   margin-top: 31px;
}









